/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@700&family=Montserrat:wght@700&family=Poppins:wght@300&display=swap');

/*Global Styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*Root Styles*/
:root{
    --main-color: #8C271E;
    --accent-color: #ABA194;
    --accent-green: #949D6A;
    --generic-black: #000;
    --generic-white: #fff;
    --h1-size: 150px;
    --h2-size: 100px;
    --h3-size: 30px;
    --h6-size: 24px;
    --p-size: 20px;
}

h1{
    font-size: var(--h1-size);
    font-family: 'Comfortaa', sans-serif;
}
h2{
    font-size: var(--h2-size);
    font-family: 'Archivo Black', sans-serif;
    display: flex;
}
h3{
    font-size: var(--h3-size);
}

h6{
    font-family: 'Comfortaa', sans-serif;
    font-size: var(--h6-size);
}
p{
    font-size:var(--p-size);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}
/*Landing Styles*/

#Landing{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.425)),
    url("https://i.postimg.cc/cLyYwLhs/edward-howell-vv-Uy1h-WVYEA-unsplash.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 color: var(--generic-white);
}
.landing-title{
 font-family: 'Comfortaa', sans-serif;
 font-size: var(--h1-size);
 font-weight: 1000;
 color: var(--generic-white);
 display: flex;
 justify-content: center;
 padding-top: 320px;
 /* text-shadow: 3px 3px 7px#000; */
}
.subtitle{
 display: flex;
 justify-content: center;
}


/*About Styles*/
#About{
    min-height: 100vh;
    background-color: var(--main-color);
    color: var(--generic-black);
}
 
.about-info{
    max-width: 900px;
    display: flex; 
    justify-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    flex-wrap: wrap;
  }
  .grid-item {
    background-color: var(--accent-color);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 24px;
    text-align: center;
  }
/*Menu Styles*/
#Menu{
min-height: 100vh;
background: linear-gradient(rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.438)),
url("https://i.postimg.cc/c48wvnQ9/edward-howell-R8-Ho-Xig87p8-unsplash.jpg");
background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;  
 color: var(--generic-white);
}

.card-deck{
    background-color: transparent;
}

.menu-h1{
padding-top: 20px;    
display: flex;
justify-content: center;

}

/*Reserve a Table Styles*/
#Reserve{
    min-height: 100vh;
    background-color: var(--accent-color);
    color: var(--generic-black);
}
.column{
    width: 50%;
    float: left;
}
.container{
width: 750px;
height: 550px;
padding-top: 20px;
padding-left: 20px;
/* background-color: #8C271E; */
display: flex;
justify-content: center;
}
.reserve-image{
    width: 700px;
height: 500px;
filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.63));
border-radius: 10% 0% 10% 0%;
transition: all .2s ease-in-out; 
}
.reserve-image:hover{
    transform: scale(1.1); 
}

/*Contact Styles*/
#Contact{
min-height: 100vh;
background: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.521)),
url("https://i.postimg.cc/pLfjZMcK/klara-kulikova-yj-QDn-Oh-GE34-unsplash.jpg");
background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;  

 /* background-color: var(--generic-black); */
 color: var(--generic-white);
}

footer{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(221, 169, 169);
    padding: 50px 0;
    text-align:center;
}




/* More menu styles- Bulela */

.card-deck{

   

    padding: 0 8% 0 ;

}

.card{
    background-color: transparent;
    object-fit: cover;
}
.card-img-top{
height: 250px;
width: 200px;
object-fit: contain;
}

/* -----------contact form botton--------------- */
 .send{
padding-left: 50px;

 }
 .col2{
    border: solid ;
    border-radius: 10px;
 }
 textarea{

    border: solid ;
    border-radius: 3px;
 }


/*Mobile Responsiveness - Media Queries*/
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    h1{
        font-size: 75px;
    }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    h1{
        font-size: 50px;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: brown;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}nav ul li a:hover::after{
    width: 100%;
}

