/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@700&family=Montserrat:wght@700&family=Poppins:wght@300&display=swap');

/*Global Styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root Styles*/
:root{
    --main-color: #8C271E;
    --accent-color: #ABA194;
    --accent-green: #949D6A;
    --generic-black: #000;
    --generic-white: #fff;
    --h1-size: 150px;
    --h2-size: 100px;
    --h3-size: 30px;
    --p-size: 24px;
}

nav{

    background-color: #aba194;
}

.logo{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    font-size: var(--h1-size);
    font-family: 'Comfortaa', sans-serif;
}
h2{
    font-size: var(--h2-size);
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    justify-content: center;
}
h3{
    font-size: var(--h3-size);
}
p{
    font-size:var(--p-size);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}
/*Landing Styles*/

#Landing{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.425)),
    url("https://i.postimg.cc/cLyYwLhs/edward-howell-vv-Uy1h-WVYEA-unsplash.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 color: var(--generic-white);
}
.landing-title{
 font-family: 'Comfortaa', sans-serif;
 font-size: var(--h1-size);
 font-weight: 1000;
 color: var(--generic-white);
 display: flex;
 justify-content: center;
 padding-top: 320px;
 /* text-shadow: 3px 3px 7px#000; */
}
.subtitle{
 display: flex;
 justify-content: center;
}


/*About Styles*/
#About{
    min-height: 100vh;
    background-color: var(--main-color);
    color: var(--generic-black);
}

/*Menu Styles*/
#Menu{
min-height: 100vh;
background: linear-gradient(rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.438)),
url("https://i.postimg.cc/c48wvnQ9/edward-howell-R8-Ho-Xig87p8-unsplash.jpg");
background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;  
 color: var(--generic-white);
}


/* More menu styles */


/* Floating four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }     

/*Reserve a Table Styles*/
#Reserve{
    min-height: 100vh;
    background-color: var(--accent-color);
    color: var(--generic-black);
}
.column{
    width: 50%;
    float: left;
}
.container{
width: 750px;
height: 550px;
padding-top: 20px;
padding-left: 20px;
/* background-color: #8C271E; */
display: flex;
justify-content: center;
}
.reserve-image{
    width: 700px;
height: 500px;
filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.63));
border-radius: 10% 0% 10% 0%;
transition: all .2s ease-in-out; 
}
.reserve-image:hover{
    transform: scale(1.1); 
}

/*Contact Styles*/
#Contact{
min-height: 100vh;
background: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.521)),
url("https://i.postimg.cc/pLfjZMcK/klara-kulikova-yj-QDn-Oh-GE34-unsplash.jpg");
background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;  

 /* background-color: var(--generic-black); */
 color: var(--generic-white);
}


/*Mobile Responsiveness - Media Queries*/
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    h1{
        font-size: 75px;
    }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    h1{
        font-size: 50px;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: brown;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}nav ul li a:hover::after{
    width: 100%;
}

